* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.wrap {
  background: url("../img/invited-bg.jpg") no-repeat;
  background-size: 100% ;
  overflow: auto;
}
.column {
  margin-top: 15.6rem;
}
.redPacketBox,
.inviteBox {
  float: left;
  width: 5.68rem;
  height: 3.92rem;
  text-align: center;
}
.redPacketBox {
  background: url("../img/monkey_frame.png") no-repeat;
  background-size: 5.68rem 3.92rem;
  margin-left: 1.52rem;
  margin-right: 0.72rem;
}
.redPacketBox > img,
.inviteBox > img {
  width: 1.4rem;
  height: 0.92rem;
  margin-top: 0.32rem;
}
.redPacketBox p,
.inviteBox p {
  font-size: 0.56rem;
}
.redPacketBox p:nth-of-type(1) {
  color: #ff4545;
  font-weight: bold;
}
.redPacketBox p:nth-of-type(2) {
  color: #fc1a1a;
  font-size: 0.76rem;
}
.redPacketBox p:nth-of-type(2) em,
.inviteBox p:nth-of-type(2) em {
  font-size: 0.64rem;
  font-style: normal;
}
.inviteBox {
  background: url("../img/invite_frame.png") no-repeat;
  background-size: 5.68rem 3.92rem;
}
.inviteBox p:nth-of-type(1) {
  color: #ffb818;
  font-weight: bold;
}
.inviteBox p:nth-of-type(2) {
  color: #f4a900;
  font-size: 0.76rem;
}
/*邀请按钮*/
.btnBox {
  margin-top: 1.24rem;
  text-align: center;
}
.btnBox img {
  width: 11.56rem;
  height: 1.9rem;
}
/*邀请排行*/
.ranking {
  width: 12.34rem;
  height: 31.28rem;
  background: url("../img/rule_frame.png") no-repeat;
  background-size: 12.34rem 31.28rem;
  margin: 0.32rem auto 2.4rem;
  text-align: center;
}
.rankTitle {
  padding-top: 0.72rem;
}
.rankTitle img {
  width: 4.36rem;
}
.rankingList {
  margin-top: 0.48rem;
}
.rankingList li {
  width: 11.16rem;
  background-color: #eee;
  border-radius: 0.6rem;
  margin: 0 auto 0.36rem;
}
.leftSide {
  float: left;
  margin-left: 0.48rem;
}
.leftSide > img {
  float: left;
  width: 1.18rem;
  height: 1.18rem;
  margin: 0.3rem 0.4rem 0.3rem 0;
}
.companySide {
  float: left;
  margin-top: 0.32rem;
}
.company {
  font-size: 0.52rem;
  line-height: 0.52rem;
  color: #333;
}
.inviteCount {
  font-size: 0.4rem;
  line-height: 0.4rem;
  margin-top: 0.12rem;
  color: #666;
}
.rightSide {
  float: right;
  margin-right: 0.44rem;
}
.rightSide p {
  font-size: 0.52rem;
  line-height: 0.52rem;
  color: #fe4646;
  padding: 0.64rem 0;
}
/*邀请规则*/
.invitingRules {
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
}
.invitingRules img {
  width: 3.48rem;
}
.ruleList,
.invitations {
  padding: 0 0.8rem;
}
.ruleList h3,
.invitations h3 {
  font-size: 0.56rem;
  color: #666;
  text-align: left;
  margin-bottom: 0.32rem;
}
.ruleList p,
.invitations p {
  font-size: 0.48rem;
  line-height: 0.72rem;
  color: #999;
  text-align: justify;
  text-indent: 2em;
}
.invitations {
  margin-top: 0.12rem;
}
