* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
.wrap {
  width: 100%;
  height: 26.18rem;
  background: url(../img/channelBg.png) no-repeat;
  background-size: 15rem 26.18rem;
  padding-top: 0.1px;
}
.header {
  width: 12.64rem;
  height: 4.28rem;
  background-color: #fff;
  border-radius: 0.2rem;
  margin: 7.46rem auto 0.92rem;
  box-shadow: 0 0 0.4rem #d99805;
  padding-top: 0.1px;
}
.header > h2 {
  color: #fe9d23;
  font-size: 0.6rem;
  margin-left: 0.28rem;
  margin-top: 0.4rem;
  margin-bottom: 0.2rem;
}
.header p {
  font-size: 0.48rem;
  line-height: 0.8rem;
  color: #fe9d23;
  padding: 0 0.2rem 0;
  text-align: justify;
}
.header p b {
  font-size: 0.56rem;
}
/*注册信息*/
#registry {
  width: 12.64rem;
  margin: 0 auto;
}
#registry input {
  outline: none;
  border: none;
  padding-left: 0.52rem;
  font-size: 0.52rem;
}
#mobile,
#passWord {
  width: 12rem;
  height: 1.68rem;
  border-radius: 0.2rem;
  background: #fff url("../img/phone.png") no-repeat 0.6rem center;
  background-size: 0.76rem 0.84rem;
  text-indent: 3em;
}
#passWord {
  background: #fff url("../img/password.png") no-repeat 0.6rem center;
  background-size: 0.76rem 0.84rem;
  margin-top: 0.8rem;
}
#mesCode {
  width: 7.2rem;
  height: 1.68rem;
  border-radius: 0.2rem;
  margin-top: 0.76rem;
  background: #fff url("../img/code.png") no-repeat 0.6rem center;
  background-size: 0.76rem 0.84rem;
  text-indent: 3em;
}
.mesBtn {
  display: inline-block;
  width: 4rem;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  background-color: #fa6220;
  color: #fff;
  font-size: 0.52rem;
  border-radius: 0.12rem;
  margin-left: 0.36rem;
}
/*  .enrollBtn{
    width:635/@r;
    margin-top: 40/@r;
  } */
.enrollBtn {
  width: 12.7rem;
  height: 1.88rem;
  line-height: 1.88rem;
  text-align: center;
  background: url(../img/btnBg.png) no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 0.64rem;
  margin-top: 0.8rem;
  margin-bottom: 0.2rem;
}
::-webkit-input-placeholder {
  color: #666;
  text-indent: 3.5em;
}
#registry > p {
  font-size: 0.4rem;
  text-align: right;
  color: #fff;
}
#registry > p span {
  padding-bottom: 1px;
  border-bottom: 1px solid #fff;
  padding-left: 0.2rem;
}
/*提示层*/
.warn {
  display: none;
  width: 11.74rem;
  height: 16.1rem;
  background: url("../img/warn-bg.png") no-repeat;
  background-size: 11.74rem 16.1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -5.88rem;
  margin-top: -8rem;
  z-index: 9992;
}
.warn h3 {
  font-size: 0.68rem;
  color: #fff;
  text-align: center;
  margin-top: 1.28rem;
}
.solutions {
  width: 9rem;
  margin: 2.4rem auto 0;
}
.solutions > p:nth-of-type(1) {
  margin-bottom: 0.4rem;
}
.solutions ul {
  margin-bottom: 0.4rem;
}
.solutions p,
.solutions ul li {
  font-size: 0.6rem;
  color: #999;
  line-height: 0.92rem;
}
.solutions ul li {
  background: url("../img/shape.png") no-repeat center left;
  background-size: 0.42rem 0.42rem;
  padding-left: 0.8rem;
}
.backBtn {
  display: block;
  width: 7.6rem;
  height: 1.6rem;
  border-radius: 1.6rem;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0);
  margin: 2.28rem auto 0;
  font-size: 0.84rem;
  color: #fff;
}
/*遮罩*/
.shade {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.7;
  z-index: 9000;
}
/*红包*/
.redPackets {
  display: none;
  width: 14.36rem;
  height: 25.22rem;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -7.18rem;
  z-index: 9999;
}
.redPacketsImg {
  width: 14.36rem;
}
.close {
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
}
